* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Tinos",serif;
  }

  h1, h2 {
    text-align: center;
  }
  
  p {
    font-size: 20px;
  }
  
  span {
    padding: 5px;
  }

  .logo {
    height: 50px;
    width: 55%;
    vertical-align: middle;

  }
  
  button:hover {
    cursor: pointer;
    background-color: #182751;
    color: white;
  }
  
  button {

    display: inline-block;
      border: 1px #E0E0E0 solid;
      padding: 10px 15px 13px 15px;
      text-align: center;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 700;
      transition: background 400ms ease;
      color: #6A738D;
      background: #E8E8E8;
      margin-top: 20px;
  }
  
  .return-button {
    float: right;
  }
  
  .hidden {
    display: none;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1px 10px 20px;
    border: 2px solid #182751;
    color: #182751;
    clear: both;
  }
  
  .quiz-progress {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #182751;
    background-color: #182751;

  }
  
  .quiz-progress p {
    display: inline-block;
    margin: 5px auto;
    color: #94a1c5;
    padding: 5px;
    font-weight: 500;
  }
  
  /* .score {
    float: right;
  } */

  /* .question {
    float: left;
  } */
  
  .right-answer {
    border: 3px solid #00c55d;
    padding: 7px;
    border-radius: 50%;
  }
  
  .wrong-answer {
    border: 3px solid #c22342;
    padding: 2px;

  }
  
  li {
    display: block;
    padding: 10px;
    font-size: 18px;
  }
  
  li input {
    margin-right: 10px;
  }

  .youtube-title {
      font-weight: 600;
      /* text-align: center; */
      margin: 5px auto;
      width: 50%;
  }

  .thumbnail {
      border: solid black 2px;
      display: block;
      margin: 5px auto;
      width: 50%;
  }
  
  .sorry {
      border: 1px solid #c22342;
      background-color: #ffffe8;
      padding: 10px;
      font-weight: 500;
      margin: 20px auto;
      width: 75%;
      /* background-color: #70a3bc; */
  }

  .correct {
    background-color: #00c55d;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 10px;
  }
  
  #js-continue, #start-form{
    text-align: center;
  }

  .feedback-image {
    display: block;
    margin: 10px auto;
    max-width: 70%;
    max-height: 300px;
  }